body {
    margin: 0;
}

.nav-container {
    display: flex;
    background-color: #3a3a3a;
    align-items: center;
}

#mavinzutitle {
    display: block;
    margin: 10px;
    padding-left: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    height: auto;
}
#mavinzutitle:hover {
    text-decoration-line: underline;
}

.nav-link {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
}
.nav-link li a {
    display: block;
    margin: 0 10px;
    color: white;
    font-family: monospace;
    font-size: medium;
    
}
.nav-link li:hover {
    text-decoration-line: underline;
}


.image-project {
    overflow: hidden;
    justify-self: stretch;
}
.image-project img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.technologies {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #3a3a3a;
}
.technologies h2 {
    text-align: center;
    color: white;
    font-family:'Courier New', Courier, monospace;
    letter-spacing: 2px;
}
.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.technologies ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.technologies li {
    background-color: #292424;
    text-align: center;
    color: white;
    margin: 10px;
    padding: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
}


.footer-element ul {
    display: inline-grid;
    grid-auto-flow: column;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    list-style-type: none;
}
.footer-element a {
    color: white;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}
.footer-element a:hover {
    text-decoration: underline;
}
.footer-element li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}  
.footer-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: #202629;
    line-height: 1.3;
    font-family: Menlo, monospace;
    padding-bottom: 30px;
}
.footer-element img {
    width: 200px;
    height: auto;
    justify-items: center;
    margin: auto;
}
